#homePageStyle{

    max-width: 100%;
    margin: 50px;
    padding: 10px;
}

#mainPage{
    /* display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    flex-flow: row;
    width: 100%; */

}


#homePageStyle{
}
