#homePage{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    padding: 20px;
    max-width: 100%;



}

#songContainer{
display: flex;
border : 2px solid black;

gap: 20px;
flex-flow: row wrap;
flex: 2 1 auto;






}


 #homePageStyle{
     display: block;
     flex: 2 5 auto;


}

.songDiv{
background-color: white;
display: flex;
align-items: flex-start;
text-align: center;






}




.inputDiv{
padding: 20px;

}

.inputDiv input{

}

.songImage{
width: 7.5rem;
height: 7.5rem;

}

footer{
    text-align: center;
}
