#homePage{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    padding: 20px;



}

#songContainer{
display: flex;
border : 2px solid black;
gap: 20px;






}


 #homePageStyle{

}

.songDiv{
border: 2px solid green;

}




.inputDiv{


}

.inputDiv input{

}

.songImage{
width: 7.5rem;
height: 7.5rem;
}
